<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        input {
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="height: 100vh;" class="d-flex justify-content-center align-items-center">
        <form id="form1" method="POST" action="{% url 'chat:room' %}">
            {% csrf_token %}
            <input id="room" class="form-control" type="text" name="room_no" placeholder="Enter Room Number"><br>
            <input id="name" class="form-control" type="text" name="name" placeholder="Enter Your Name"><br>
            <div class="d-flex justify-content-center">
                <input id="submit" type="submit" name="submit" value="Enter Room" class="btn btn-primary">
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $('#name').on('keyup',function (e){
     if(e.keyCode === 13){
         $('#submit').click();
     }
    });
    $(document).ready(function(){
     $('#room').val('');
     $('#name').val('');
    });
</script>
</body>
</html>